body{
    background-color: rgb(141, 241, 241);
}
#form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgb(110, 214, 153);
    border-radius: 20px;
}
h1{
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(39, 86, 100);
    margin-bottom: 5px;
}
.autor{
    color: rgba(53, 50, 50, 0.733);
    font-weight: bold;
    
}
select{
    background-color:rgba(76, 145, 104, 0.883) ;
    color: white;
    border-radius: 5px;
}
.NewsForm{
    width: 90%;
    color: rgba(54, 52, 52, 0.774);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleForm{
    color: teal;
    font-weight: bold;
}
input{
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: rgb(231, 200, 231);
    width: 200px;
    height: 18px;
}
textarea{
    resize:none;
    width: 200px;
    height: 40px;
     border: none;
    border-radius: 5px;
    background-color: teal;
    color: rgb(231, 200, 231);
}
button{
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background-color: teal;
}
